<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="assets/main.css">
        <title>Maps VR: Contact</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="topnav" id="topnav">
            <a href = "index.html" style="text-decoration: none">Home</a>
            <a href="contact.html" style="text-decoration: none">Contact</a>
            <a href="about.html" style="text-decoration: none">About</a>
        </div>

         <section id="team">
         <div class="content">
            <div style="padding-top:90px" class="title">Meet the Team</div>
            <div class="teampic">
              <div class="member">
                <div class="crop">
                  <img src="assets/profile-pics/priyanshi.jpg" />
                </div>
                <div class="name">Priyanshi Nigam</div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/priyanshi-nigam/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a href="https://github.com/priyanshin"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="member">
                <div class="crop">
                  <img src="assets/profile-pics/areeta.jpg" />
                </div>
                <div class="name">Areeta Wong</div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/areetaw/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a href="https://twitter.com/areetaw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://github.com/areetaw"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="member">
                <div class="crop">
                  <img src="assets/profile-pics/genesis.jpg" />
                </div>
                <div class="name">Genesis Kaleikau</div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/genesis-kaleikau/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a href="https://github.com/genesiskaleikau"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
         </div>
      </section>
    </body>
</html>